# machine learning
nltk >= 3.2 # nltk
numpy >= 1.6 # numpy
scipy >= 0.18.1 # scipy
networkx >= 1.11 # networkx
gensim >= 0.13 # gensim
scikit-learn >= 0.18.1 # sklearn
pandas >= 0.19.2 # pandas
matplotlib >= 1.5.3 # matplotlib
seaborn >= 0.7.1 # seaborn
langdetect >= 1.0.7 # langdetect
newspaper3k >= 0.1.9 # newspaper

# parsing
feedparser >= 5.1 # feedparser
beautifulsoup4 >= 4.5.3 # bs4
python-dateutil >= 2.4.2 # python-dateutil
dateparser >= 0.6.0 # dateparser

# tools
requests >= 2.12 # requests
progressbar2 == 3.1 # progressbar
tabulate >= 0.7.7 # tabulate

# webviz
django >= 1.11 # django

# persistence
pymongo >= 3.4.0 # pymongo

# development
autopep8 >= 1.2
beautysh >= 3.1
