nltk >= 3.0 # nltk # nltk
progressbar2 >= 3.1 # progressbar # progressbar2
requests >= 2.12 # requests # requests
beautifulsoup4 >= 4.5.3 # bs4 # beautifulsoup4
gensim >= 0.13 # gensim # gensim
scipy >= 0.18.1 # scipy # scipy
numpy >= 1.6 # numpy # numpy
autopep8 >= 1.2
beautysh >= 3.1
langdetect >= 1.0.7
feedparser >= 5.1 # feedparser # feedparser
git+git://github.com/BastiTee/bastis-python-toolbox.git@HEAD # # # bptbx # bptbx
